body{
  background-color: hsl(0, 0%, 100%);
  color: #000000;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
}
input{
  border:1px solid #ffe066;
}
input[type=submit]{
  background: #ff3a33;
  border-radius: 8px;
  border:1px solid #ff0900;
  box-shadow: inset 0 -0.2em rgba(0,0,0,.3);
  color: white;
  display: block;
  font-family: 'Anton', sans-serif;
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-top: 20px;
  outline: none;
  width: 50%;
}
input[type=submit]:active{
  background: #e60800;
  box-shadow:none;
}
input[type=submit]:focus{
  background: #e60800;
}
li{
  text-align: right;
}
footer{
  background:#262626;
  height: 380px;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
footer aside{
  padding: 25px 0;
  text-align: center;
}
footer aside a i{
  color: white;
  margin: 20px 40px;
}
form{
  margin: 0 auto;
  width: 400px;
}
form input{
  background: #FFF6D3;
  box-sizing: border-box;
  color: #990099;
  font-size: 1.2em;
  font-weight: bolder;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}
form input:focus{
  background: #f2f2f2;
}

form label{
  color:  #3c7490;
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  padding-top:25px;
}
form textarea{
  background: #f2f2f2;
  box-sizing: border-box;
  color: #33cc33;
  font-size: 1.2em;
  font-weight: bolder;
  height: 350px;
  margin: 0 auto;
  padding: 15px;
  resize: none;
  width: 100%;
}
form textarea:focus{
  background: #FFF6D3;
  outline-color: red;
}
p{
  margin:0;
}
textarea{
  border:1px solid #d9d9d9;
}




/*======================================ID'S===============================================*/

#ae-title{
  background: #12012d;
  border:10px solid #d8a1ff;
  color: #d8a1ff;
  font-size: 6em;
  font-weight: bold;
  margin: 0 0 0 40%;
  padding: 20px 10px;
  width: 60%;
}
#ai-title{
  background: #1c0a00;
  border:10px solid #ff7f18;
  color: #ff7f18;
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 20px 10px;
  width: 60%;
}
#bt-a, #bt-b, #bt-c, #bt-d, #bt-e, #bt-f{
  -moz-transition: background-position 1s, color 1.5s;
  -webkit-transition: background-position 1s, color 1.5s;
  background-image: linear-gradient(to bottom, white 50%, #ff3a33 50%);
  background-size: 100% 200%;
  transition: background-position 1s, color 1.5s;
}
#bt-a:hover, #bt-b:hover, #bt-c:hover, #bt-d:hover, #bt-e:hover, #bt-f:hover{
  background-position: 0 -100%;
  color: white;
}
#cms-services{
  background-color: #ff3300;
  border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
  color: white;
  display:block;
  font-family: 'Anton', sans-serif;
  height: 345px;
  margin:0 auto;
  text-align: center;
  width: 250px;
}
#cms-title{
  font-size: 6em;
  font-weight: bold;
  padding-top:130px;
}
#css-title{
  background: #29a9df;
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  width: 22%;
}
#desarrollo-web h2{
  background: #21BDEE;
}

#diseno-grafico h2{
  background: #FFDB04; 
}
#ds-title{
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-size:50px 50px, 50px 50px, 10px 10px, 10px 10px;
  color: white;
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 20px 10px;
  width: 700px;
}
#fbcontact{
  background: #D9D9D9;
  padding:30px 0 25px 0; 
  text-align: center;
}
#fbcontactsub{
  margin: 0 auto;
  width: 420px;
  
}
#format-brands{
  margin:0 auto;
  padding: 0;
  width: 100%;
}
#fotografia h2{
  background: #9C4776;
}
#foto-title{
  background: black;
  color: white;
  font-size: 6em;
  font-weight: bold;
  margin:0;
  padding: 20px 10px;
  width: 500px;
}
#header-nav{
  border-radius: 0;
  border: 0;
}
#here-text{
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-top: 300px solid #7fc719;
  color:white;
  font-family: 'Anton', sans-serif;
  height: 0;
  margin: 0 auto;
  width: 0;
}
#here-text::before{
  content:"AQUÍ";
  font-size:7em;
  left: -93px; top: -290px;
  position: relative; 
}
#here-text span{
  display: none;
}
#home-services, #home-education{
  padding: 35px 0 0 0; 
  width: 100%;
}
#home-services a, #home-education a, #format-brands a{
  text-decoration: none;
}
#home-services h2:hover{
  background: red;
}
#home-education h2:hover{
  border-bottom: 10px solid red;
}
#home-services img:hover, #home-education img:hover{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
#hosting h2{
  background: #42CCB2;
}
#host-services{
  background: #ff5050;
  font-family: 'Anton', sans-serif;
  margin:0 auto;
  padding: 5px;
  width: 800px;
  text-align: center;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
       -ms-transform: skew(20deg);
}
#host-title{
  color: #00ffff;
  font-size: 6em; 
  font-weight: bold;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
       -ms-transform: skew(-20deg);
}
#machete-services{
  margin: 0;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -o-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -o-flex-shrink: 0;
  -ms-flex-shrink: 0;
}

#html-title{
  background: #f06529;
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  width: 28%;
}
#js-title{
  background: #ffda3e;
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  width: 50%;
}
#learn-text{
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  margin-top: 0;
  text-align: center;
}
#learn-text span{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
}
#notas h2{
  border-bottom: 10px solid #ffdd6e;
  color:#8be6d5;
  font-family: 'Anton', sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
}
#prog-text{
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  margin-top: 30px;
  text-align: center;
}
#prog-text span{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
}
#ps-title{
  background: #0d0b21;
  border:10px solid #36bef0;
  color: #36bef0;
  font-size: 6em;
  font-weight: bold;
  margin: 0 auto;
  padding: 20px 10px;
  width: 60%;
}
#pincel-services{
  font-family: 'Anton', sans-serif;
  text-align: center;
}
#sbt-a, #sbt-b, #sbt-c{
  background-size: 200% 100%;
  background-image: linear-gradient(to right, white 50%, hsl(88, 80%, 50%) 50%);
  -webkit-transition: background-position 1s, color 1.5s;
  -moz-transition: background-position 1s, color 1.5s;
  transition: background-position 1s, color 1.5s;
  color:#256b8d;
  font-weight: bold;
  padding:10px 25px;
}
#sbt-a:hover, #sbt-b:hover, #sbt-c:hover{
  background-position: 100% 0;
  color: white;
}
#seo h2{
  background: #FF5900;
}
#seo-services{
  background: #67C4C8;
  font-family: 'Anton', sans-serif;
  margin:0 auto;
  padding: 15px;
  width: 515px;
} 
#seo-title{
  color: #ff3a33;
  font-size: 6em; 
  font-weight: bold;
}
#sm-title{
  background: linear-gradient( #400080, transparent), 
  linear-gradient(200deg, #d047d1, #ff0000,#ffff00);
  color: white;
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 20px 10px;
  right: 0px;
  width: 600px;
}
#social-media h2{
  background: #7DCD40;
}
#tech-news h2{
  border-bottom: 10px solid #ffd1aa;
  color:#de3f19;
  font-family: 'Anton', sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
}
#textintro{
  font-family: 'Anton', sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
#textintrosub{
  background-color:#1c3643; 
  color:#FFFFFF;
  padding: 40px 2%;
}
#trifecta-services{
  font-family: 'Anton', sans-serif;
  text-align: right;
}

#videos h2{
  border-bottom: 10px solid #e58c4c;
  color:#db1f37;
  font-family: 'Anton', sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
}
#webtext{
  color: #ff3a33;
  font-size: 29vw;
}

/*======================================CLASSES===============================================*/
.branding-logos{ 
  font-size: 2em;
  height: 410px;
  margin: 0 auto 60px auto; 
  overflow: hidden;
  text-align: center;
  width: 400px;
}
.branding-logos img{
  -webkit-filter: grayscale(100%);
  border-bottom: 1px solid grey;
  border-top:1px solid grey;
  filter: grayscale(100%);
  width: 100%;
}
.branding-logos img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.branding-logos p{
  margin-bottom: 10px;
}
.btn{
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 25px;
}
.buscanos p{
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 6em;
  font-weight: bolder;
}
.buscanos-titles{
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  margin-top: 0;
  text-align: center;
}
.buscanos-titles span{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0 5px;
}
.caret{
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px dashed;
  margin-bottom: 4px;
  margin-left: 3px;
}
.cms-logos{
  text-align: center;
}
.cms-logos h3{
  display: inline-block;
  margin:0 15px; 
  
}
.contact-info{
  padding-right:15px;
  padding-top: 50px;
  position: absolute;
  right: 0px;
  text-align: right;
}
.conta-thanx-title{
  font-family: 'Anton', sans-serif;
  font-size: 5em;
  text-align: center;
}
.col4{
  border-right: 2px solid #FFCC33;
  display: inline-block;
  margin-left: -3px;
  margin-right: -3px;
  vertical-align: middle;
  width: 40%;
}
.col8{
  display: inline-block;
  margin-left: -3px;
  margin-right: -3px;
  padding: 20px;
  vertical-align: middle;
  width: 60%;
}
.copyright{
  background: #1a1a1a;
  color: white;
  font-size: 0.9em;
  padding: 5px 0; 
  text-align: center;
}
.direccion{
  color: white;
}
.dropdown-menu{
  -webkit-box-shadow:none;
  border-bottom: 1px solid hsl(12, 100%, 50%);  
  border-radius: 0;
  border:0;
  box-shadow:none;
  font-size: 1.3em;
  padding: 1px 0;
}
.dropdown-menu>li>a{
  color: black; 
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover{
  color: white;
}
.facebook-icon:hover{
  color:#3b5998;
}
.fb-page a{
  color: #595959;
  font-size: 2em;
  font-weight: bolder;
}
.fb-page{
 background-color: white;
 box-shadow: 0 18px 16px -16px black;
}
.footer-menu{
  font-size: 1.2em;
  left: 0px;
  position: absolute;
}
.footer-menu p{
  color: red;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: underline;
}
.form-design{
  margin-bottom: 50px;
  width: 100%;
}
.format-pages{
  background: #d9d9d9;
  margin: 0;
  padding: 50px 25px;
  text-align: center;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -o-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -o-flex-shrink: 0;
  -ms-flex-shrink: 0;
  align-items: center;
}
.format-pages a{
  color: #ff3a33;
  font-family: 'Anton', sans-serif;
  font-size: 2.5em;
  font-weight:  bolder;
  text-align: center;

}
.format-pages a:hover{
  color: #b30600;
}
.format-pages p{
  color: #1a1a1a;
  font-size: 1.5em;
  font-weight:  bold;
  text-align: center;

}
.format-thum{
  text-align: left;
  width: 55%;
}
.format-thum-title{
  width: 45%;

}
.frase-entrada{
  color:#1a1a1a;
}
.google-icon:hover{
  color:#d34836;
}
.host-span{
  color: #ffffff;
}
.instagram-icon:hover{
  color:#bc2a8d;
}
.learn-cards{
  font-size: 2em;
  margin: 0 auto 40px auto; 
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 320px;
}
.learn-cards h2{
  display: block;
}
.logodiv img{
  width: 100%;
}
.mail{
  color: white;
  font-size: 1.7em;
}
.mail a{
  color: #7fc719;
}
.mail a:hover{
  text-decoration: none;
}
.navbar-default{
  background-color: hsl(0, 0%, 100%);
}
.navbar-default .navbar-nav > li > a{
  color:#2C7FA7;
  font-size: 1.4em;
  font-weight:bold;
  padding-bottom: 20px;
  padding-top: 20px;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover{
  color: #ff3a33;
  background-color: transparent; 
}
.navbar-default .navbar-toggle {
  border-color: #1c3643;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
  background: #7fc719;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #1c3643;
}
.nav>li>a {/*services tabs*/
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}
.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover{
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs>li {
  display: inline-block;
  float: none;
}
.nav>li>a:focus, .nav>li>a:hover{/*services tabs*/
  background-color: #f2f2f2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{/*services tabs*/
  color: red;
  font-weight: bold;
}
.nav-tabs{/*services tabs*/
  margin-top: 75px;
  text-align: center;
}
.navbar-toggle{
  border-radius: 0px;
}
.news-img{
  border-radius: 5px;
  border:1px solid #f2f2f2;
  box-shadow: 0 18px 16px -16px black;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.news-parent-div{
  border-top: 1px solid #e6e6e6;
  margin: 50px 0;
  padding: 25px 15px 0 15px;
}
.news-text{
  color: #595959;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 25px; 
}
.news-text p {
  margin-bottom: 15px;
  margin-top:15px;
}
.news-text-parent{
  margin: 0 auto;
  width: 800px;
}
.news-tittle{
  color:red;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  font-weight: 600;
  margin: 20px 0px;
}
.news-tittle-video{
  color:red;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin: 20px 0px;
}
.news-tittle-span-color{
  color: black; 
}
.news-tittle-span-underline{
  text-decoration: underline;
}
.notas-img{
  border:1px solid #f2f2f2;
  box-shadow: 0 18px 16px -16px black;
  display: block;
  height: auto;
  margin: 0 auto;

}
.notas-parent-wrap{
  border-top: 1px solid #e6e6e6;
  margin: 50px 0;
  padding: 25px 0;
  text-align: center;
  width: 100%;
}
.notas-text{
  color: #262626;
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px;
}
.notas-title{
  color: #FF9966;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  margin-top: 0px;
  text-transform: uppercase;
}
.personal-info{
  display: inline-block;
  vertical-align: middle;
}
.personal-info ul{
  -webkit-padding-start: 15px;
  color: white;
  list-style: none;
}
.personal-info ul li{
  text-align: left;
}
.personal-info ul li a{
  color: white;
}
.personal-info ul li a:hover{
  color: red;
  text-decoration: none;
}
.phone{
  color: #ffcc00;
  font-family: 'Anton', sans-serif;
  font-size: 1.9em;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;
}
.phone:hover{
  color: #ffcc00;
  text-decoration: none;
}
.rwd-break{
  display: none;
}
.rwd-break-1{
  display: none;
}
.seo-span{
  color: #BAF153;
}
.services-cards{
  font-size: 2em;
  margin: 0 auto 40px auto; 
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 320px;
}
.services-cards h2{
  color: white;
  display: block;
  font-weight: bold;
  margin-top: 0px;
  padding: 15px 0;
}
.services-cards img{   
  margin-top: 20px;
}
.services-cards img:hover{
  filter: invert(100%);
  -webkit-filter: invert(100%);
} 
.services-cards p{
  border-bottom:1px solid #e6e6e6;
  color: #595959;
  font-size: 0.6em;
  font-weight: 900;
  padding: 10px;
  text-align: left;
  text-indent: 25px;
  text-justify: inter-word;
}
.services-cards .services-cards-slogan{
  background: white;
  border-bottom: none;
  color: #ff3a33;
  font-size: 0.7em; 
  font-weight: bolder;
  letter-spacing: 1px;
  margin-top: 15px;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
}
.servicios-intro{
  color: #595959;
  font-size: 1.5em;
  font-weight: bold;
  margin: 25px  15px;
  padding: 0 200px;
  text-align: center;
}
.servicios-title{
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  margin-top: 0;
  text-align: center;
}
.servicios-title span{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0 15px;
}
.services-titles{
  color: #ff3a33;
  font-family: 'Anton', sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin: 60px 15px 25px 15px;
  text-align: center;
  text-decoration: underline;
}
.share-div{  
  line-height: 0;
  margin: 0 auto;
  padding:0;
  text-align: center;
}
.share-fb{
  border-radius: 15px;
  border:5px solid #4267b2;
  display: inline-block;
  line-height: 0;
  margin: 2px auto;
  padding:15px 0;
  vertical-align: middle;
  width: 125px;
}
.share-fb iframe{
  height: 90px;
}
.share-gp{
  border-radius: 15px;
  border:5px solid #dd4b39;
  display: inline-block;
  line-height: 0;
  margin: 2px auto;
  padding:46px 0;
  vertical-align: middle;
  width: 125px;
}
.share-tw{
  border-radius: 15px;
  border:5px solid #1b95e0;
  display: inline-block;
  margin: 2px auto;
  padding:46px 0;
  vertical-align: middle;
  width: 125px;
}
.share-div-notas{
  line-height: 0;
  margin: 0 auto;
  padding:0;
  text-align: center;
}
.share-fb-notas iframe{
  height: 28px;
  width: 188px;
}
.share-fb-notas{
  display: inline-block;
  line-height: 0;
  margin: 2px auto;
  margin:8px; 
  vertical-align: middle;
}
.share-gp-notas{
  display: inline-block;
  line-height: 0;
  margin: 2px auto;
  margin:8px;
  vertical-align: middle;
}
.share-space{
  display: none;
}
.share-tw-notas{
  display: inline-block;
  margin: 2px auto;
  margin:8px;
  vertical-align: middle;
}
.somos-codigo{
  color: #595959;
  font-size: 1.5em;
  font-weight: bold;
  margin:25px auto;
  width: 68%;
}
.somos-codigo-list{
  width: 100%;
}
.somos-codigo-list li{
  text-align: left;
}
.somos-text{
  color: #595959;
  font-size: 1.5em;
  font-weight: bold;
  margin: 25px  15px;
  padding: 0 200px;
  text-align: center;
}
.somos-titles{
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  margin-top: 0;
  text-align: center;
}
.somos-titles span{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0 5px;
}
.tab-content{
  margin-top: 50px;
}
.thechnews-parent{
  margin: 0 auto;
}
.thechnews-parent-video{
  margin: 0 auto;
}
.thum-cards img{
  height: 300px;
  width: 450px;
}
.thum-cards-video{
  height: 253px;
  width: 450px;
}
.thum-cards .thum-info img:hover{
  -moz-filter: grayscale(100%) blur(2px);
  -ms-filter: grayscale(100%) blur(2px);
  -o-filter: grayscale(100%) blur(2px);
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
}
.thum-cards{
  display: inline-block;
  margin: 25px -3px;
  position: relative;
  width: 50%;
}
.thum-cards-video{
  display: inline-block;
  margin: 25px -3px;
  position: relative;
  width: 50%;
}
.thum-cards .thum-info .thum-text span{
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  color: white; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  padding: 10px;
}
.thum-cards .thum-info .thum-text span.spacer {
  background: rgba(0, 0, 0, 0.0);
  padding:0 5px;
}
.thum-date{
  background: #7fc719;
  font-weight: bold;
  padding: 5px 0 5px 10px;
}
.thum-info a{
  color: #595959;
  text-decoration: none;
}
.thum-info-video a{
  color: #595959;
  text-decoration: none;
}
.thum-info a:hover > .thum-date{
  color: black;
}
.thum-info{
  height: 300px;
  margin: 0 auto;
  position: relative;
  width: 450px;
}
.thum-info-video{
  height: 253px;
  margin: 0 auto;
  position: relative;
  width: 450px;
}
.thum-text { 
  display: inline-block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 150px;
}
.thanx{
  font-size: 2.5em;
  margin-top: 25px;
  text-align: center;
}
.thum-pages{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 404px;
  width: 580px;
}
.thum-pages:hover{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  -webkit-transition: 1s ease-in-out;
  filter: grayscale(0);
  height: 404px;
  transform: scale(1.1);
  transition: 1s ease-in-out;
  width: 580px;
}
.twitter-icon:hover{
  color:#55ACEE;
}
.youtube-icon:hover{
  color:#b31217;
}
.video-descrip{
  color: #595959;
  font-size: 1.1em;
  font-weight: bold;
  margin: 15px auto;
  width: 720px;
}
.video-disclaimer{
  background: #f2f2f2;
  border-color: #5bc0de;
  border-style: outset;
  border: 2px;
  color: black;
  font-size: 0.6em;
  font-weight: bold;
  margin: 25px 15px;
  padding: 15px;
  text-align: justify;
}
.video-descrip-text p{
  margin: 0 auto;
  text-align: left;
  width: 85%;
}
.video-descrip-text{
  color: #595959;
  font-size: 1.5em;
  font-weight: bold;
  margin: 25px 15px;
  text-align: center;
}
.video-parent-wrap{
  margin-top: 50px;
  text-align: center;
}
.videos-single{
  box-shadow: 0 18px 16px -16px black;
}
.whatsapp{
  display: none;
}
.whatsapp-icon:hover{
  color: #25d366;
}
.zoom-image{
  box-shadow: 0 18px 16px -16px black;
  height: 404px;
  overflow: hidden;
  width: 580px;
}


/*======================================QUERIES===============================================*/

@media (max-width: 980px) {

footer{
  height: initial;
}
#ae-title{
  margin: 0;
  width: 100%
}
#ai-title{
  margin: 0;
  width: 100%
}
.branding-logos{
  height: auto;
  width: 350px;
}
.buscanos p{
  padding: 25px 0;
}
.contact-info{
  position: initial;
  text-align: center;
}
#css-title{
  flex-basis: 50%;
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  -o-flex-basis: 50%;
  -ms-flex-basis: 50%;
}
#ds-title{
  text-align: center;
  width: 100%;
}
.footer-menu{
  font-size: 1.5em;
  position: initial;
}
.format-pages{
  padding: 20px 0;
}
.format-thum{
  -moz-flex-basis: 100%;
  -ms-flex-basis: 100%;
  -o-flex-basis: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.format-thum-title{
  -moz-flex-basis: 100%;
  -ms-flex-basis: 100%;
  -o-flex-basis: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
#foto-title{
  width: 100%;
}
#host-services{
  width: 100%;
  transform: none;
  -webkit-transform: none;
     -moz-transform: none;
       -o-transform: none;
       -ms-transform: none;
}
#html-title{
  flex-basis: 50%;
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  -o-flex-basis: 50%;
  -ms-flex-basis: 50%;
}
#host-title{
  font-size: 12vw;
  transform: none;
  -webkit-transform: none;
     -moz-transform: none;
       -o-transform: none;
       -ms-transform: none;
}
#js-title{
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -o-flex-basis: 100%;
  -ms-flex-basis: 100%;
}
.news-text-parent{
  width: 600px;
}
.personal-info{
  display: inline;
}
.personal-info ul{
  display: inline-block;
}
.personal-info ul li{
  display: inline-block;
}
#ps-title{
  margin: 0;
  width: 100%;
}
.rwd-break{
  display: inherit;
}
.services-cards{
  height: 770px;
  margin: 0 auto 10px auto;
}
.servicios-intro{
  padding: 0 100px;
}
.somos-text{
  padding: 0 100px;
}
#sm-title{
  text-align: left;
  width: 100%;
}
#textintrosub{
  font-size: 7vw;
}
.thum-cards{
  width: 100%;
  margin: 25px 0px;
}
.thum-cards-video{
  width: 100%;
  margin: 40px 0px;
}
.zoom-image{
  margin:0 auto;
}

}

/*only for cards services*/
@media (max-width: 767px) {
.services-cards{
  height: initial;
  margin: 0 auto 40px auto;
}


}

@media (max-width: 768px) {

li{
  text-align: left;
}
.buscanos-titles{
  font-size: 12vw;
}
.col4{
  border:none;
  width: 100%;
}
.col8{
  margin-top: 15px;
  text-align: center;
  width: 100%;
}
#foto-title{
  font-size: 14vw;
  text-align: center;
}
#ds-title{
  font-size: 14vw;
  text-align: center;
}
.navbar-collapse{
  border-bottom: 1px solid transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: hsl(0, 0%, 0%);
}
.news-text-parent{
  width: 100%;
}
.servicios-intro{
  padding: 0 75px;
}
.somos-text{
  padding: 0 75px;
}
#sm-title{
  font-size: 14vw;
  text-align: center;
}
.video-descrip-text p{
  width: 100%;
}
.video-descrip{
  width: 95%;
}
.videos-wrap {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  position: relative;
}
.videos-wrap iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

}


@media screen and (orientation: landscape) {
  
}

/*change at 628px*/
@media screen and (orientation: portrait) {

footer aside a{
  font-size: 24px;
}
#ae-title{
  font-size: 15vw;
}
#ai-title{
  font-size: 16vw;
}
#css-title{
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -o-flex-basis: 100%;
  -ms-flex-basis: 100%;
  padding: 25PX 0;
}
#here-text{
  background: #7fc719;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 30vw;
  height: auto;
  padding: 50px 0;
  text-align: center;
  width: 100%;
}
#here-text::before{
  content:none;
  position: initial; 
}
#here-text span{
  display: initial;
}
#home-services, #home-education, #format-brands{
  margin: 0 auto;
  padding: 0;
}
#host-title{
  font-size: 6em;
}
#html-title{
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -o-flex-basis: 100%;
  -ms-flex-basis: 100%;
  padding: 25PX 0;
}
#js-title{
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -o-flex-basis: 100%;
  -ms-flex-basis: 100%;
  padding: 25PX 0;
}
.logodiv{
  background-color: blue;
  height: 500px;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.logodiv img{
  height: 100%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  top: 50%;
  width: 200%;
}
#prog-text{
  font-size: 13vw;
}
#ps-title{
  font-size: 16vw;
}
#learn-text{
  font-size: 13vw;
}
.rwd-break{
  display: inherit;
}
.rwd-break-1{
  display: inherit;
}
#seo-services{
  width: 100%;
}
#seo-title{
  font-size: 16vw;
}
.servicios-intro{
  padding: 0 25px;
}
.share-gp-notas{
  margin: 8px auto;
}
.share-tw-notas{
  margin: 8px auto;
}
.share-space{
  display: inherit;
}
.somos-text{
  padding: 0 25px;
}
.somos-codigo{
  padding: 0 25px; 
}
.somos-codigo{
  width:100%; 
}
.servicios-title{
  font-size: 13vw;
}
.somos-titles{
  font-size: 16vw;
}
#textintro{
  margin-bottom: 0;
  text-align: center;
}
#textintrosub{
  display: block;
  font-size: 12vw;
  padding: 40px 2%;
}
.thum-pages{
  height:auto;
  width: 100%;
}
.thum-pages:hover{
  height:auto;
  width: 100%;
}
.whatsapp{
  display: initial;
}
.zoom-image{
  height:auto;
  margin:0 auto;
  width: 100%;
}

}

@media (max-width: 470px) {

form{
  padding: 0 10px;
  width: 100%;
}
#fbcontactsub{
  width: 320px;
}
#js-title{
  font-size: 20vw;
}
.buscanos{
  font-size:3vw; 
}
.branding-logos{
  height: auto;
  width: 96%;
}
.news-tittle-video{
  margin: 15px; 
}
.servicios-intro{
  padding: 0 5px;
}
.somos-codigo{
  padding: 0 5px; 
}
.somos-text{
  padding: 0 5px;
}
.thum-cards{
  width: 100%;
}
.thum-cards-video{
  width: 100%;
}
.thum-cards img{
  height: auto;
  width: 100%;
}
.thum-info{
  height: auto;
  width: 100%;
}
.thum-info-video{
  height: auto;
  width: 100%;
}
.thum-text{
  width: 100%;
  top: 125px;
}

}

@media (max-width: 370px) {

.col-xs-12{
  padding-left:0; 
  padding-right:0;
}
#host-title{
  font-size: 5em;
}
.learn-cards{
  width: 100%;
}
.services-cards{
  width: 100%;
}
.services-cards p{
  padding: 10px 25px;
}
.notas-inside{
  width: 100%;
}
.notas-img{
  height: auto;
  width: 100%;
}
.thum-info{
  width: 100%;
}
.thum-video{
  width: 100%;
}
.thum-cards-video{
  margin: 15px 0;
}
.thum-text{
  top: 90px;
}

}

@media (max-width: 330px) {

.elementos-title{
  font-size: 19vw;
}
#fbcontactsub{
  width: 280px;
}
#home-services img, #home-education img{
  width: 270px;
}

}