
.video-gif-1{
  background-image: url(../img/videos-thum/lg-4k-oled-wallpaper-tv-mkbhd-youtube-chanel.jpg);
}
.video-gif-1:hover, .video-gif-1:focus{
  background-image: url(../img/videos-thum/gifs/lg-4k-oled-wallpaper-tv-mkbhd-youtube-chanel.gif);
}

.video-gif-2{
  background-image: url(../img/videos-thum/5-trucos-para-buscar-en-google.jpg);
}
.video-gif-2:hover, .video-gif-2:focus{
  background-image: url(../img/videos-thum/gifs/5-trucos-para-buscar-en-google.gif);
}

.video-gif-3{
  background-image: url(../img/videos-thum/iphone-x-unboxing.jpg);
}
.video-gif-3:hover, .video-gif-3:focus{
  background-image: url(../img/videos-thum/gifs/iphone-x-unboxing.gif);
}

.video-gif-4{
  background-image: url(../img/videos-thum/como-funciona-el-internet.jpg);
}
.video-gif-4:hover, .video-gif-4:focus{
  background-image: url(../img/videos-thum/gifs/como-funciona-el-internet.gif);
}

.video-gif-5{
  background-image: url(../img/videos-thum/como-funcionan-las-pantallas-touch.jpg);
}
.video-gif-5:hover, .video-gif-5:focus{
  background-image: url(../img/videos-thum/gifs/como-funcionan-las-pantallas-touch.gif);
}

.video-gif-6{
  background-image: url(../img/videos-thum/como-funciona-el-disco-duro.jpg);
}
.video-gif-6:hover, .video-gif-6:focus{
  background-image: url(../img/videos-thum/gifs/como-funciona-el-disco-duro.gif);
}

