<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
	<title>MayQueen Technologies - focus on arm based embedded technology</title>
  <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/chiwistyle-min.css">
  <!-- <link rel="stylesheet" href="static/css/chiwistyle.css"> -->
  <link rel="stylesheet" href="static/css/font-awesome.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111456048-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111456048-1');
</script>


</head>

<body>
<div><!-- CONTEINER -->
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" id="bt-a">HOME</a></li>
            <li><a href="/about" id="bt-f">ABOUT US</a></li>
            <li><a href="/products" id="products">PRODUCTS</a></li>

            <li class="dropdown"><a href="#" id="bt-e" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICE<span class="caret"></span></a>
              <ul class="dropdown-menu">
            <li><a href="/download" id="bt-c">Download</a></li>
            <li><a href="/mqlab" id="bt-d">MayQueen LAB</a></li>
            </ul>
            </li>

            <li><a href="#" id="bt-f">ONLINE-SHOP</a></li>
            <li><a href="/contact" id="bt-f">CONTACT US</a></li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

    <div class="news-parent-div">

      <h2 class="news-tittle">PANZER fanless computing is <span class="news-tittle-span-color">mass production </span><span class="news-tittle-span-underline">already</span></h2>
      <div class="news-text-parent">
        <div class="news-text">
            <img src="/static/img/news/news-panzer-1.png" class="news-img img-fluid" width="600" height="400" alt="Twitter elimina tweets">

            <p>PANZER, a industrial grade fanless computing based on NXP i.MX6UL CPU with open source software support, this is first time from design to manufacture by MayQueen, welcome to order it online via product page.</p>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#news-15102017" style="background: #7fc719; border:2px solid #487A00;">Read More... <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <div id="news-15102017" class="collapse">
              <p>PANZER has good stability, power comsumption and perfromance for automation applications, multiple serial ports and DIO ports, most of all, it also supporting WiFi 2.4GHz B/G/N.</p>
              <p>Of course we cannot ignore software part, we already supporting BuildRoot 201708 with Linux Kernel 4.9 on PANZER, welcome to visit our download page to get detial, we also will be released Yocto Morty soon.</p>
              <br>
              <p>About BuildRoot</p>
              <p>Buildroot is a set of Makefiles and patches that simplifies and automates the process of building a complete and bootable Linux environment for an embedded system,</p>
              <p>while using cross-compilation to allow building for multiple target platforms on a single Linux-based development system.</p>
              <p>Buildroot can automatically build the required cross-compilation toolchain, create a root file system, compile a Linux kernel image,</p>
              <p>and generate a boot loader for the targeted embedded system, or it can perform any independent combination of these steps.</p>
            </div>
        </div>
      </div>
    </div>

  <section id="home-education" class="row">
  </section><!-- END OF LEARN-WITH-US -->

  <footer>
  <aside>
    <a href="https://www.facebook.com/mayqueen.technologies/" target="_blank"><i class="fa fa-facebook fa-2x facebook-icon" aria-hidden="true"></i></a>
    <a href="https://twitter.com/chiwiwiche" target="_blank"><i class="fa fa-twitter fa-2x twitter-icon" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UC4maA1SS1RN10fNhl7K0k6Q" target="_blank"><i class="fa fa-youtube-play fa-2x youtube-icon" aria-hidden="true"></i></a>
  </aside>
  <div class="personal-info footer-menu">
    <p>MENU</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/products">PRODUCTS</a></li>
      <li><a href="#">Online-Shop</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="personal-info buscanos">
    <p>Come To Talk</p>
  </div>
  <div class="personal-info contact-info">
    <a href="tel:+886908880962" class="phone"><i class="fa fa-volume-control-phone fa-1x" aria-hidden="true"></i> (886) 908-880962</a>
    <p class="mail">Mail Us:<br> <a href="mailto:sales@mayqueentech.com"><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i> sales@mayqueentech.com</a></p>
    <p class="mail"><i aria-hidden="true"></i> 2F., No.30, Ln. 107, Linsen N. Rd., Zhongshan Dist.,<br> Taipei City 104, Taiwan (R.O.C.)</a></p>
  </div>
  </footer>
  <p class="copyright">&copy; 2017 all rights reserved to MayQueen Technologies<br/p>
</div> <!-- END OF CONTEINER -->

<script src="static/js/jquery-3.1.1.slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/chiwiscript.js"></script>
</body>
</html>
