<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
	<title>MayQueen Technologies - focus on arm based embedded technology</title>
  <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/chiwistyle-min.css">
  <!-- <link rel="stylesheet" href="static/css/chiwistyle.css"> -->
  <link rel="stylesheet" href="static/css/font-awesome.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111456048-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111456048-1');
</script>


</head>

<body>
<div><!-- CONTEINER -->
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" id="bt-a">HOME</a></li>
            <li><a href="/about" id="bt-f">ABOUT US</a></li>
            <li><a href="/products" id="products">PRODUCTS</a></li>

            <li class="dropdown"><a href="#" id="bt-e" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICE<span class="caret"></span></a>
              <ul class="dropdown-menu">
            <li><a href="/download" id="bt-c">Download</a></li>
            <li><a href="/mqlab" id="bt-d">MayQueen LAB</a></li>
            </ul>
            </li>

            <li><a href="#" id="bt-f">ONLINE-SHOP</a></li>
            <li><a href="/contact" id="bt-f">CONTACT US</a></li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

    <div class="news-parent-div">

      <h2 class="news-tittle">NutsBoard Launches <span class="news-tittle-span-color">Pistachio-LITE </span><span class="news-tittle-span-underline">And access MQ in partner program</span></h2>
      <div class="news-text-parent">
        <div class="news-text">
            <img src="/static/img/news/twitter-deleted-information.jpg" class="news-img img-fluid" width="600" height="400" alt="Twitter elimina tweets">

            <p>We're so happy to launch that Pistachio-LITE with our Developing Debian 9.3 image of NutsBoard, added a our own Board Support Package to the MayQueen Technologies Pistachio-LITE.</p>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#news-15102017" style="background: #7fc719; border:2px solid #487A00;">Read More... <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <div id="news-15102017" class="collapse">
              <p>NutsBoard is our one of important partners which focus on arm based embedded solutions with open source software, MayQueen Technologies also has a system integrator for arm based solutions, so we're so happy co-work together.</p>
              <p>And we will have more news for Pistachio-LITE developers, NutsBoard official is just released Android 7.1 already, but MayQueen also development a Debian 9.3 Desktop with Linux Kernel 4.9.</p>
              <img src="/static/img/news/Debian_Screenshot.png" class="news-img img-fluid" width="720" height="480" alt="Twitter elimina tweets">
              <br>
              <p>About Debian</p>
              <p>Debian is one of the oldest Linux distributions and is the base for many of the other distributions that exist including Ubuntu and Linux Mint.</p>
              <p>It is a community distribution and only ships with free software and free drivers. The Debian repositories have thousands of applications and there are versions available for a large number of hardware embedded devices.</p>
              <p>About MayQueen Technologies</p>
              <p>We're not only just be a pure agent only, but also develop good operating system or applications for you, no matter automation or multimedia market, we hope can provide best quality to you,
              because of this point, we're very cautions to choose our board computing partners, they need to be certified ISO-9001 first, so trust us can help you quick to market for your applications. </p>
            </div>
        </div>
      </div>
    </div>

  <section id="home-education" class="row">
  </section><!-- END OF LEARN-WITH-US -->

  <footer>
  <aside>
    <a href="https://www.facebook.com/mayqueen.technologies/" target="_blank"><i class="fa fa-facebook fa-2x facebook-icon" aria-hidden="true"></i></a>
    <a href="https://twitter.com/chiwiwiche" target="_blank"><i class="fa fa-twitter fa-2x twitter-icon" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UC4maA1SS1RN10fNhl7K0k6Q" target="_blank"><i class="fa fa-youtube-play fa-2x youtube-icon" aria-hidden="true"></i></a>
  </aside>
  <div class="personal-info footer-menu">
    <p>MENU</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/products">PRODUCTS</a></li>
      <li><a href="#">Online-Shop</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="personal-info buscanos">
    <p>Come To Talk</p>
  </div>
  <div class="personal-info contact-info">
    <a href="tel:+886908880962" class="phone"><i class="fa fa-volume-control-phone fa-1x" aria-hidden="true"></i> (886) 908-880962</a>
    <p class="mail">Mail Us:<br> <a href="mailto:sales@mayqueentech.com"><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i> sales@mayqueentech.com</a></p>
    <p class="mail"><i aria-hidden="true"></i> 2F., No.30, Ln. 107, Linsen N. Rd., Zhongshan Dist.,<br> Taipei City 104, Taiwan (R.O.C.)</a></p>
  </div>
  </footer>
  <p class="copyright">&copy; 2017 all rights reserved to MayQueen Technologies<br/p>
</div> <!-- END OF CONTEINER -->

<script src="static/js/jquery-3.1.1.slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/chiwiscript.js"></script>
</body>
</html>
