<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
	<title>MayQueen Technologies - Contact Us</title>
  <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
  <meta name="description" content="Diseño a la medida de páginas Web, Asesoría tecnológica, Branding y Marketing Digital.">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/chiwistyle.css">
  <link rel="stylesheet" href="static/css/font-awesome.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111456048-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111456048-1');
</script>

  </head>

<body>
<div><!-- CONTEINER -->
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" id="bt-a">HOME</a></li>
            <li><a href="/about" id="bt-f">ABOUT US</a></li>
            <li><a href="/products" id="products">PRODUCTS</a></li>

            <li class="dropdown"><a href="#" id="bt-e" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICE<span class="caret"></span></a>
              <ul class="dropdown-menu">
            <li><a href="/download" id="bt-c">Download</a></li>
            <li><a href="/mqlab" id="bt-d">MayQueen LAB</a></li>
            </ul>
            </li>

            <li><a href="#" id="bt-f">ONLINE-SHOP</a></li>
            <li><a href="/contact" id="bt-f">CONTACT US</a></li>

      </ul>
      </div>
    </div>
  </nav>
</header>
<h2 class="buscanos-titles"><span>CONTACT US</span></h2>

<p class="somos-text">Availability: Mon-Fri 08:00 - 17:00 </p>
<center><p class="somos-text">Online Customer Service</p></center>
<p class="somos-text">Asia Time Zone: Mr. Watson Wang, Whatsapp ID: </p>
<p class="somos-text">America Time Zone: Mr. José Pablo lopez, Whatsapp ID: </p>

<!-- THATS WHAT YOU NEED WIG  THE FORM -->



<div class="form-design">
<form action="gracias.php" method="post" autocomplete="on">
  <label for="fname">NAME</label><br>
  <input type="text" id="fname" name="firstandlastname" value="" maxlength="40" placeholder="" required><br>
  <label for="tlphone">Telephone</label><br>
  <input type="tel"  id="tlphone" name="phone" value="" maxlength="15" placeholder="" required><br>
  <label for="personalmail">Email</label><br>
  <input type="email" id="personalmail" name="mail" value="" maxlength="40" placeholder="" required><br>
  <label for="doubts">How can we serve you?<br></label><br>
  <textarea  id="doubts" name="message" rows="20" cols="40" maxlength="2000" autocomplete="off" placeholder="" required></textarea><br>
  <input type="submit" value="SUBMIT" formenctype="multipart/form-data">
</form>
</div>


<!-- ################################################################ -->


<footer>
  <aside>
    <a href="https://www.facebook.com/mayqueen.technologies/" target="_blank"><i class="fa fa-facebook fa-2x facebook-icon" aria-hidden="true"></i></a>
    <a href="https://twitter.com/chiwiwiche" target="_blank"><i class="fa fa-twitter fa-2x twitter-icon" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UC4maA1SS1RN10fNhl7K0k6Q" target="_blank"><i class="fa fa-youtube-play fa-2x youtube-icon" aria-hidden="true"></i></a>
  </aside>
  <div class="personal-info footer-menu">
    <p>MENU</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/products">PRODUCTS</a></li>
      <li><a href="#">Online-Shop</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="personal-info buscanos">
    <p>Come To Talk</p>
  </div>
  <div class="personal-info contact-info">
    <a href="tel:+886908880962" class="phone"><i class="fa fa-volume-control-phone fa-1x" aria-hidden="true"></i> (886) 908-880962</a>
    <p class="mail">Mail Us:<br> <a href="mailto:sales@mayqueentech.com"><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i> sales@mayqueentech.com</a></p>
    <p class="mail"><i aria-hidden="true"></i> 2F., No.30, Ln. 107, Linsen N. Rd., Zhongshan Dist.,<br> Taipei City 104, Taiwan (R.O.C.)</a></p>
  </div>
  </footer>
  <p class="copyright">&copy; 2017 all rights reserved to MayQueen Technologies<br/p>
</div> <!-- END OF CONTEINER -->

<script src="static/js/jquery-3.1.1.slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/chiwiscript.js"></script>
</body>
</html>
