<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
	<title>TWDVD血盟公告</title>
  <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/chiwistyle-min.css">
  <!-- <link rel="stylesheet" href="static/css/chiwistyle.css"> -->
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111456048-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111456048-1');
</script>

</head>

<body>
  <div><!-- CONTEINER -->
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <h2 class="somos-titles"><span>ATT/DVD血盟公告</span></h2>
    <div class="somos-codigo">
      <ol class="somos-codigo-list">
      <h2>血盟規範<a href="https://raw.githubusercontent.com/AttTwdvd/Document/master/README.txt">(必看)</a></h2>
      <br>
      <h2>2020上半年盟襲時間問卷調查<a href="https://doodle.com/poll/acedc6rht2tptbrz">(必填)</a></h2>
      <h2>2019下半年盟襲時間問卷調查<a href="https://doodle.com/poll/br9g3q9n3hvge2np?utm_campaign=poll_added_participant_admin&utm_medium=email&utm_source=poll_transactional&utm_content=gotopoll-cta#table">(歷史資訊,可供查閱)</a></h2>
      <br>
      <fieldset>
      <legend><h2>地龍實驗系列</h2></legend>
      <h2>第三次地龍實驗於2019/10/8 PM22:15</h2>

      <div class="logodiv">
      <img src="static/img/linM/att_anthas.png">
      </div>
       <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        參加對象:ATT全體人員</p>
        對戰結果:0勝2負</p>
        戰前分析: 前兩次雖然都坦的住,但輸出依然不足,太烏的加入搭配DMO的雙精準是此戰關鍵,可望對遠攻的效益大大提升</p>
        </div>

      </fieldset>
      <br>
    </div>
    <div class="logodiv">

<script src="static/js/jquery-3.1.1.slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/chiwiscript.js"></script>
</body>
</html>
