<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
	<title>TWDVD血盟公告</title>
  <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/chiwistyle-min.css">
  <!-- <link rel="stylesheet" href="static/css/chiwistyle.css"> -->
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111456048-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111456048-1');
</script>

</head>

<body>
  <div><!-- CONTEINER -->
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <h2 class="somos-titles"><span>2019上半年成果驗收</span></h2>
    <div class="somos-codigo">
      <ol class="somos-codigo-list">


      <fieldset>
        <legend>盟襲:地龍實驗</legend>
        <legend>時間:7/9(二)晚上盟襲時間(暫定)</legend>
        <legend>緣由:於去年底訂的2019上半年目標之一</legend>
        <legend>鑰匙:奶皇贊助,請踴躍參與</legend>
        <legend>戰術圖<br><img src="static/img/linM/killdragon.png"></legend>


        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        A組:隊長:star皆空</p>
        隊員: 伊納米, 伊凡, </p>
        任務: 主力輸出</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        B組:隊長:小魔女DoReMe</p>
        隊員: 勾勾愛力, 暗黑天皇, 龜頭脫土 </p>
        任務: 主坦</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        C組:隊長:Hana</p>
        隊員: 大聖孫悟空, 奶皇流沙包</p>
        任務: 主輸出</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        D組:隊長:詠升</p>
        隊員: 鏟屎官, 龍大少,爆發力十足</p>
        任務: 主坦</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        E組:隊長:超星拳少婦</p>
        隊員: AK47, 拔拔兒, 箭影</p>
        任務: 遠攻主輸出</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        L組:隊長:超星拳嬤</p>
        隊員: 寶島大香蕉, 唉唷不錯喔,粉腸</p>
        任務: 遠攻主輸出</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        K組:隊長:大人氣</p>
        隊員: 冰忻, 夏西夏景, 樓羽晴</p>
        任務: 大人氣跟負責保護其他</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        G組:隊長:紫萱兒</p>
        隊員: 咖啡糖心, Musashi, chloe貞貞</p>
        任務: 遠遠攻擊努力打</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        J組:隊長:小火龍</p>
        隊員: 松本牙衣, 因了解而分離, 瘋狂女黑妖</p>
        任務: 努力輸出 不行了就退到J點</p>
        </div>
        </p>

        <div style= "border-top:dotted 2px blue; border-bottom:dashed 4px red; border-left:double 6px green; border-right:solid 8px yellow; width: 300px ; height: 250 px">
        I組:隊長:戴盟JiaJia</p>
        隊員: 騎士精神, 邁阿密藍, 妲姈</p>
        任務: 努力輸出,戴蒙負責保護其他三位</p>
        </div>
        </p>

        </p>

      </fieldset>
      <br>
    </div>
    <div class="logodiv">

<script src="static/js/jquery-3.1.1.slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/chiwiscript.js"></script>
</body>
</html>
