<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
	<title>TWDVD血盟公告</title>
  <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/chiwistyle-min.css">
  <!-- <link rel="stylesheet" href="static/css/chiwistyle.css"> -->
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111456048-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111456048-1');
</script>

</head>

<body>
  <div><!-- CONTEINER -->
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <h2 class="somos-titles"><span>TWDVD血盟公告</span></h2>
    <div class="somos-codigo">
      <ol class="somos-codigo-list">
        <li>本週盟襲為6/20晚上10點盟屋集合 - 狼人奶皇(贊助), 鱷魚喜多(預約), 克特粉腸(預約), 惡魔媗(上週得主)</li>
        <li>頭號白目通緝: 大牛比較覽 </li>
        <li>血盟公關: 北條麻妃</li>
        <li>
          <a href="https://www.facebook.com/groups/177357599718922/?fref=nf">血盟臉書社團請踴躍加入</a> </li>
        <li>血盟方向: 秉持著自立自強的中立盟精神,絕不偏袒其中一方聯盟,遇到問題可盟頻問或請王幫忙解決,但如果因幫兩邊聯盟打架(大家多少有自己支持的對象,但可以有很多方法幫忙-傭兵或先退盟打),
          或吃王時被兩邊聯盟打這類的事本就是會付出代價(本盟並無禁止吃王,被打就打回去或飛即可),不會再幫忙調停避免被抹黑或禍及全盟謝謝,以上務必遵守,以整盟未來為最大考量.</li>
      </ol>
    </div>
    <div class="logodiv">

<script src="static/js/jquery-3.1.1.slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/chiwiscript.js"></script>
</body>
</html>
