<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
	<title>TWDVD血盟公告</title>
  <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/chiwistyle-min.css">
  <!-- <link rel="stylesheet" href="static/css/chiwistyle.css"> -->
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111456048-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111456048-1');
</script>

</head>

<body>
  <div><!-- CONTEINER -->
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <h2 class="somos-titles"><span>TWDVD血盟公告</span></h2>
    <div class="somos-codigo">
      <ol class="somos-codigo-list">
      <a><img src="static/img/linM/fight.png" class="news-img img-fluid" width="690" height="413" alt="Twitter elimina tweets"></a>
      <br>
        <li>下次盟襲為7/18(三)晚上10點盟屋集合 - 狼人星玥(預約), 鱷魚奶皇(贊助), 克特大卡車(預約), 惡魔法藍西多士(預約)</li>
        <li>盟襲規則: 新版首家TWDVD血盟突襲規則上線啦!!<br>
        (1) 撿到藍布的下次要出鑰匙 沒出就看有沒有志願者<br>
        (2) 若有志願者非常想拼藍布,可以找奶皇登記並提供鑰匙, 突襲打完大家會飛回盟屋只留志願者在現場撿布 (當然沒出布也沒辦法,投資有賺有賠)<br>
        (3) 承襲2. 若不幸有盟友誤(偷)撿到藍布, 下次他就要做鑰匙作到出藍布為止<br>
        (4) 承襲1.2.3. 每個關卡是獨立計算的! EX:今天尊天在鱷魚關卡撿到藍布,所以他下次要做兩把鑰匙給鱷魚關使用~以此類推!<br>
        7/12更新: 惡魔新條款,打到紅色等級的寶 請飛回村讓王或王的指定人代撿 (如反頓,火風暴),待王賣掉之後再平分給有去打的盟友.<br>
        注意點1: 刻印紅布算在內!<br>
        注意點2: 多分身的平分時只算一位喔!<br>
        注意點3: 非刻印的寶若盟友要自學自用,可以市價7折收購,但只能限定相關職業收喔,發現收了沒自學者踢踢踢！</li>
        <li>每週貢獻度(7/2開始): 每週貢獻度不能低於戴蒙jiajia 或 太麻里隔壁超過100貢獻,每週日結算沒到標準的會踢喔!(要出國或太忙請寫信給奶皇or法藍報備) </li>
        <li>頭號通緝: 新營劉德華, ChrisY, 漂白水, 笙</li>
        <li>血盟公關: 北條麻妃</li>
        <li>
          <a href="https://www.facebook.com/groups/177357599718922/?fref=nf">血盟臉書社團請踴躍加入</a> </li>
        <li>血盟方向: 秉持著自立自強的中立盟精神,絕不偏袒其中一方聯盟,遇到問題可盟頻問或請王幫忙解決,但如果因幫兩邊聯盟打架(大家多少有自己支持的對象,但可以有很多方法幫忙-傭兵或先退盟打),
          或吃王時被兩邊聯盟打這類的事本就是會付出代價(本盟並無禁止吃王,被打就打回去或飛即可),不會再幫忙調停避免被抹黑或禍及全盟謝謝,以上務必遵守,以整盟未來為最大考量.</li>
      </ol>
    </div>
    <div class="logodiv">

<script src="static/js/jquery-3.1.1.slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/chiwiscript.js"></script>
</body>
</html>
