<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
	<title>MayQueen Technologies - PANZER Fanless Computing</title>
  <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/chiwistyle-min.css">
  <!-- <link rel="stylesheet" href="static/css/chiwistyle.css"> -->
  <link rel="stylesheet" href="static/css/font-awesome.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111456048-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111456048-1');
</script>

</head>

<body>
<div><!-- CONTEINER -->
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" id="bt-a">HOME</a></li>
            <li><a href="/about" id="bt-f">ABOUT US</a></li>
            <li><a href="/products" id="products">PRODUCTS</a></li>

            <li class="dropdown"><a href="#" id="bt-e" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICE<span class="caret"></span></a>
              <ul class="dropdown-menu">
            <li><a href="/download" id="bt-c">Download</a></li>
            <li><a href="/mqlab" id="bt-d">MayQueen LAB</a></li>
            </ul>
            </li>

            <li><a href="#" id="bt-f">ONLINE-SHOP</a></li>
            <li><a href="/contact" id="bt-f">CONTACT US</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <h1 id="learn-text"><span>PANZER</span></h1>
    <center>
      <div class="branding-logos">
      <a><img src="static/img/panzer/panzer-front.png"></a>
      </div>
      <p class="servicios-intro">ARM Cortex-A7 NXP i.MX6 UltraLite CPU</p>
      <p class="servicios-intro">256MB LPDDR3 Memory</p>
      <p class="servicios-intro">10/100 Megabit LAN</p>
      <p class="servicios-intro">WiFi 802.11 b/g/n</p>
      <p class="servicios-intro">256MB NAND Flash</p>
      <p class="servicios-intro">9~24Volt Range Power Input </p>

      <div class="branding-logos">
      <a><img src="static/img/panzer/panzer-back.png"></a>
      </div>
      <p class="servicios-intro">Brand: MayQueen Technologies</p>
      <p class="servicios-intro">Open Source code for Linux based OS</p>
      <p class="servicios-intro">WVGA maximum video encoding/decoding</p>
      <p class="servicios-intro">Open Hardware UserManual</p>
      <p class="servicios-intro">5-year longevity guarantee</p>

    </center>


    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">SPECIFICATION</a></li>
      <li><a data-toggle="tab" href="#menu1">BLOCK DIAGRAM</a></li>
      <li><a data-toggle="tab" href="#menu2">DIMENSIONS</a></li>
      <li><a data-toggle="tab" href="#menu4">PURCHASING</a></li>
    </ul>

    <div class="tab-content"><!-- tab-content --> 
      <div id="home" class="tab-pane fade in active">
        <div id="format-brands" class="row">
          <div>
            <div>
              <center>
              <table border="5">
              <tr><td><b>CPU</b></td><td align="center">NXP ARM Cortex-A7 540MHz Solo Cores</td></tr>
              <tr><td><b>Memory</b></td><td align="center">256MB DDR3</td></tr>
              <tr><td><b>Storage</b></td><td align="center">256MB NAND Flash</td></tr>
              <tr><td><b>WiFi</b></td><td align="center">802.11b/g/n 2.4GHz</td></tr>
              <tr><td><b>EEPROM</b></td><td align="center">eFUSE</td></tr>
              <tr><td><b>RTC</b></td><td align="center">x1</td></tr>
              <tr><td><b>Network</b></td><td align="center">10/100 RMII Ethernet</td></tr>
              <tr><td><b>USB Host</b></td><td align="center">x2</td></tr>
              <tr><td><b>Serial</b></td><td align="center">RS485 x3, RS232 x5 ( one is debug console)</td></tr>
              <tr><td><b>CAN bus</b></td><td align="center">x2</td></tr>
              <tr><td><b>Audio</b></td><td align="center">x1</td></tr>
              <tr><td><b>SD slot</b></td><td align="center">x1</td></tr>
              <tr><td><b>GPIO</b></td><td align="center">DI x2, DO x2 (5 Volt)</td></tr>
              <tr><td><b>Display</b></td><td align="center">VGA x1</td></tr>
              <tr><td><b>mPCIE</b></td><td align="center">x1, SIM card slot x1</td></tr>
              <tr><td><b>Dimensions</b></td><td align="center">140(W)x130(H)x30(D)mm</td></tr>
              <tr><td><b>Certification</b></td><td align="center">RoHS</td></tr>
              </table>
              </center>
            </div>
          </div>
        </div>

      </div>
  <!-- *******************************SBC******************************  -->
      <div id="menu1" class="tab-pane fade">

        <div id="format-brands" class="row">
          <div>
            <div>
              <font size="5">
              <p>The Panzer is an ARM Cortex-A7 i.MX6UL based industrial fanless computer: It is accompanied by DDR3 and NAND Flash memory, WLAN b/g/n. The i.MX6UL processor integrates a Trust Zone area, 
              a dedicated encryption application here for security needs. Vast interface options</p> <br>

              <p>The Panzer provides multiple interfaces such as Ethernet, USB 2.0, UARTs for RS232, RS485, uSD, VGA display, and more for various industrial applications, 
              general Certifications is passed already such as RoHS and relative </p><br>

              <p>A variety of Development operating systems options allow a fast entry and quick prototyping. Supported are Buildroot, Ubuntu, and Yocto as Linux based environments.</p><br>

              <p>Panzer has 5 years long life time cycle and end-of-life support, customers can use it and don't worry the phase out issue in the short term.</p></font>
            </div>
          </div>
        </div>
      </div>



  <!-- *******************************FPC******************************  -->
      <div id="menu2" class="tab-pane fade">

        <div id="format-brands" class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="branding-logos">
                <p>Front Side</p>
                <img src="static/img/panzer/panzer-2d-1.png">
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="branding-logos">
                <p>Back Side</p>
                <img src="static/img/panzer/panzer-2d-2.png">
            </div>
          </div>
        </div>
      </div>


    </div><!-- END tab-content -->

    <form action="https://github.com/mayqueen-lab/documents/raw/master/datasheets/panzer.pdf">
    <input type="submit" value="GET DATASHEET" />
    </form>

    <form action="/products">
    <input type="submit" value="←  PRODUCTS" />
    </form>

  <footer>
  <aside>
    <a href="https://www.facebook.com/mayqueen.technologies/" target="_blank"><i class="fa fa-facebook fa-2x facebook-icon" aria-hidden="true"></i></a>
    <a href="https://twitter.com/chiwiwiche" target="_blank"><i class="fa fa-twitter fa-2x twitter-icon" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UC4maA1SS1RN10fNhl7K0k6Q" target="_blank"><i class="fa fa-youtube-play fa-2x youtube-icon" aria-hidden="true"></i></a>
  </aside>
  <div class="personal-info footer-menu">
    <p>MENU</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/products">PRODUCTS</a></li>
      <li><a href="#">Online-Shop</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="personal-info buscanos">
    <p>Come To Talk</p>
  </div>
  <div class="personal-info contact-info">
    <a href="tel:+886908880962" class="phone"><i class="fa fa-volume-control-phone fa-1x" aria-hidden="true"></i> (886) 908-880962</a>
    <p class="mail">Mail Us:<br> <a href="mailto:sales@mayqueentech.com"><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i> sales@mayqueentech.com</a></p>
    <p class="mail"><i aria-hidden="true"></i> 2F., No.30, Ln. 107, Linsen N. Rd., Zhongshan Dist.,<br> Taipei City 104, Taiwan (R.O.C.)</a></p>
  </div>
  </footer>
  <p class="copyright">&copy; 2017 all rights reserved to MayQueen Technologies<br/p>
</div> <!-- END OF CONTEINER -->

<script src="static/js/jquery-3.1.1.slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/chiwiscript.js"></script>
</body>
</html>
